@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: Inter, sans-serif;
    color: #1F2937;
    background-color: #FFFFFF;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Inter, sans-serif;
  }
}
